.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: "testimonial-1 testimonial-1 testimonial-2 testimonial-5"
                        "testimonial-3 testimonial-4 testimonial-4 testimonial-5";
  grid-gap: 2rem;
  width: 90%;
  max-width: 1440px;
}

@for $i from 1 through 5 {
  .testimonial-#{$i} {
    grid-area: testimonial-#{$i};
    padding: 2rem;
    border-radius: 10px;
    transition: .4s ease-out;
    //box-shadow: 0 0 12px 2px hsla(217, 19%, 35%, .4);
    &:hover {
      box-shadow: 0 0 22px 4px hsla(217, 19%, 35%, .4);
      //box-shadow: none;
      transform: scale(1.05); //translateY(-12px);
    }
    @media (max-width: 560px) {
      margin: 3rem 0;
    }
  }
}
